.paginationBttns {
    width: 80%;
    height: 40px;
    list-style: none;
    display: flex;
    justify-content: center;
  }
  
  .paginationBttns a {
    padding: 10px;
    margin: 8px;
    border-radius: 5px;
    border: 1px solid #3f648d;
    color: black;
    cursor: pointer;
  }
  
  .paginationBttns a:hover {
    color: white;
    background-color: #B8DFD8;
  }
  
  .paginationActive a {
    color: black;
    background-color: #B8DFD8;
  }
 