nav {
    background-color:#270b27f6 ;
    height: 70px;
    width: 100%;
}
.logo {
    color: white;
    font-size: 40px;
    padding: 0;
    margin-top: 0px;
}
nav ul {
    float: right;
    margin-right: 500px;
}
nav ul li {
    display: inline-block;
    line-height: 20px;
    margin: 30 20px;
    padding: 20px;
    font-weight: bold;
    font-size: 30px;
}
li a {
    color:rgb(121, 115, 115);
}